<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taoyyz.framework.web.mapper.CourseMapper">

    <select id="selectScoreList" resultType="com.taoyyz.framework.web.model.DTO.CourseScoreDTO">
        select t2.tb_id as tb_id,
        t1.course_name as course_name,
        t3.username as student_name,
        t2.daily_score as daily_score,
        t2.exam_score as exam_score,
        t2.total_score as total_score,
        t1.type as type
        from course t1
        inner join course_select t2 on t2.course_id = t1.course_id
        inner join user t3 on t3.user_id = t2.user_id
        <if test="keyword != null and keyword != ''">
            and username like CONCAT('%', #{keyword}, '%')
        </if>
        <where>
            t1.creator_id = #{userId}
            <if test="courseId != null and courseId != ''">
                and t1.course_id = #{courseId}
            </if>
        </where>
    </select>
</mapper>
